.wrapper,
.wrapper-full{
    width: 1168px;
    height: 100%;
    margin: 30px auto;
}
.banner{
    width: 100%;
    min-height: 740px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner-card{
    width: 1168px;
    height: 600px;
    display: flex;
}
.container-img-left{
    width: 740px;
    height: 100%;
    backdrop-filter: blur(2px);
    overflow: hidden;
    --transition-duration: 500ms;
    --transition-easing: ease-out;
    &:hover{
        &::before {
            left: 150%;
        }
    }
    &::before {
    content: '';
    background: rgba(white, 0.4);
    width: 20%;
    height: 100%;
    top: 0;
    left: -125%;
    
    transform: skew(45deg);
    transition: left 
    var(--transition-duration)
    var(--transition-easing);
    position: absolute;
}
}
.container-img-right{
    width: 398px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 24px;
    margin:  0px 0px 0px 30px;   
}
.img-right{
    width: 398px;
    height: 290px;
    backdrop-filter: blur(2px);
    overflow: hidden;
    --transition-duration: 500ms;
    --transition-easing: ease-out;
    &:hover{
        &::before {
            left: 150%;
        }
    }
    &::before {
    content: '';
    background: rgba(white, 0.4);
    width: 20%;
    height: 100%;
    top: 0;
    left: -125%;
    
    transform: skew(45deg);
    transition: left 
    var(--transition-duration)
    var(--transition-easing);
    position: absolute;
}
}

.banner-img-left{
    width: 100%;
    height: 100%;
}
.banner-img-right{
    margin: 0px 0px 30px;
    width: 100%;
    height: 287px;
}
.service-container{
    width: 1168px;
    height: 110px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    margin-top: 30px;
}
.icon-service{
    width: 40px;
    height: 40px;
    color: #ffbf44;
}
.service-item{
    display: flex;
    justify-content: space-between;
}
.service-right{
    margin-left: 10px;
}
.cate-container{
    width: 1168px;
    height: 180px;
    padding: 20px;
    margin: 30px 0px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    p{
        margin-top: 10px;
    }
}
.cate-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cate-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    p{
        margin-top: 10px;
    }
}
.circle{
    width: 105px;
    height: 110px;
    border-radius: 50%;
    background-color: #f8f8f8;
    display: flex;
    align-items: center;
    &:hover{
        background-color: #2d6f6d;
        .icon-circle{
            color: #ffffff;
        }
    }
    .icon-circle{
        width: 47px;
        height: 47px;
        margin: 0 auto;
    }
}
.selling-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.popular-container{
    display: flex;
    justify-content: space-between;
}