.Footer_Container
{
    width: 100%;
    background-color: 
    #c6eaff;
}
.Footer
{
    height: 307px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.Footer_Full
{
    margin: auto;
    width: 543px;
    height: 150px;
}
.Footer_Full_1
{
    width: 543px;
    height: 64px;
}
.Footer_Full_1 h1 span
{
    
    color: 
    #ffbb38 ;
    padding-left: 10px;
    padding-right: 10px;
}
.Footer_Full_1 h1
{
    text-align: center;
}
.Footer_Full_1 p
{
    text-align: center;
    font-size: 15px;
}
.Footer_Full_2
{
    display: flex;
    width: 100%;
    margin-top: 32px;
}
.Footer_Full_2 div
{
    width: 385px;
    height: 54px;
    background-color: white;
}
.Footer_Full_2 div input
{
    height: 100%;
    width: 90%;
    border: 0;
    padding-left: 10px;
}
.Footer_Full_2 div span
{
    padding-left: 22px;
    color: #b9b7b4;
}
.Footer_Full_2 div input:focus
{
    outline: none;
}
.Footer_Full_2 button
{
    font-family: inherit;
    font-weight: 700;
    background-color: #ffbb38;
    border: 0;
    width: 158px;
    cursor: pointer;
}
.Footer_Full_Bottom
{
    width: 100%;
    height: 463px;
    background-color: white;
}
.Footer_Full_Bottom_content
{
    
    margin: auto;
    width: 1189px;
    padding: 56px 24px 0 24px;
    height: 463px;
}
.Footer_Full_Bottom_content_1
{
    height: 77px;
    text-align: center;
    margin-bottom: 50px;
    border-bottom-style: ridge;
    border-color:white; 
}
.Footer_Full_Bottom_content_2
{
    height: 148px;
    margin-bottom: 50px;
    display: flex;
}
.Footer_Full_Bottom_content_2_1
{
    width: 424px;
    height: 100%;
    
}
.Footer_Full_Bottom_content_2_1 h1
{
    font-size: 16px;
    margin-bottom: 20px;
    
}
.Footer_Full_Bottom_content_2_1 p
{
    color: #b9b7b4;
    font-size: 15px;
    margin-right: 100px;
}
.Footer_Full_Bottom_content_2_2
{
    
    height: 100%;

}
.Footer_Full_Bottom_content_2_2_1 div ul
{
    list-style: none;
}
.Footer_Full_Bottom_content_2_2_1
{
    width: 248px;
}
.Footer_Full_Bottom_content_2_2_1_header
{
    margin-bottom: 20px;
}
.Footer_Full_Bottom_content_2_2_1_header h1
{
 font-size: 16px;
}
.Footer_Full_Bottom_content_2_2_1_content ul li
{
    margin-top: 8px;
}
.Footer_Full_Bottom_content_2_2_1_content ul li a
{
    text-decoration: none;
    color: #b9b7b4;
    font-size: 14px;
}
.Footer_Full_Bottom_content_2_2_1_content ul li a:hover
{
    text-decoration: underline;
    color: black;
}
.Footer_Contact_main
{
    background-color: white;
}
.Footer_Contact
{
    width: 1168px;
    height: 82px;
    margin: auto;
    
    border-color: #ffffff;
    border-top-style: ridge;
   
}
.Footer_Contact
{
    display: flex;
    justify-content: space-between;
}
.Footer_Contact_1
{
    line-height: 82px;
    display: flex;
    width: 403px;
    height: 24px;
    margin-bottom: 10px;
}
.Footer_Contact_1 a
{
    margin-right: 13px;
}
.Footer_Contact_1 a
{
    cursor: pointer;
    color: #6f6e6d;
}
.Footer_Contact_1 span
{
    margin-left: 10px;
    font-size: 15px;
}
.Footer_Contact_1 span a
{
    margin-right: 2px;
    text-decoration: none;
    color: black;
    font-weight: 500;
}
.Footer_Contact_2
{
    line-height: 82px
}

