.btn{
    width: 90px!important;
    height: 50px;
    color: #ffffff;
    background-color: #000000;
}
.btn-primary{
    width: 308px;
    height: 50px;
    color: #000000;
    border: none;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}
.btn-primary-3{
    width: 140px!important;
    height: 50px;
    color: #000000;
    border: none;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}
.btn-primary-2{
    width: 220px!important;
    height: 50px;
    color: #000000;
    border: none;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}
.btn,
.btn-dark{
    width: 308px;
    height: 50px;
    color: #ffffff;
    border: none;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    background-color: #000000;
}
