.wrapper{
    height: 146px;
    border-bottom: 1px solid #ddd;
    width: 100%;
}
.Header_full
{
    margin: auto;
    padding:0 15px 0 15px ;
    width: 1192px;
    height: 86px;
    display: flex;
    justify-content: space-between;
}
.Header_container_bottom
{
    background-color: 
    #ffbb38 ;
    
}
.Header_full_bottom
{
    padding:0 12px 0 12px ;
    margin: auto;
    width: 1192px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    
    
}
.Header_full_bottom_1
{
    width: 821px;
    display: flex;
}
.Header_full_bottom_1_2 ul
{
    
    line-height: 60px;
    list-style: none;
    display: flex;
    padding-left: 30px;
    justify-content: space-between;
}
.Header_full_bottom_2
{
    width: 161px;
}
.Header_full_2
{
    display: flex;
    width: 517px;
}
.Header_full_1
{
    line-height:115px;
}
.Header_full_2_1
{
    width: 194px;
    height: 42px;
    line-height: 86px;
}
.Header_full_2_1 form input
{
    color: inherit;
    font-size: 13px;
    font-family: inherit ;
    font-weight: 500;
    padding-left: 20px;
    width: 194px;
    height: 42px;
    border: 0 solid #e5e7eb;
    
}
.Header_full_2_1 form input:focus
{
    outline: none;
}
.Header_full_2_2
{
    
    border: 1px solid #e5e7eb;
    height: 22px;
    margin: auto 0 auto 0;
    width: 1px;
}
.Header_full_2_3
{
    
    width: 227px;
    height: 42px;
    padding-left: 10px;
    margin: auto 5px auto 0;
    align-items: center;
    background-color: #fcfbfb;
}
.Header_full_2_3 button
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    line-height: 42px;
    border: 0;
    background-color: white;
}
.Header_full_2_3 button span
{
    
    color: rgb(118, 118, 118);
    font-size: 13px;
    font-family: inherit ;
    font-weight: 500;
}
.Header_full_2_4 button
{
    font-size: 14px;
    font-family: inherit ;
    font-weight: 500;
    width: 92px;
    line-height: 42px;
    border: 0;
    background-color:#ffbb38  ;
}
.Header_full_2_4 
{
   
    margin: auto;
    height: 42px;
}
.Header_full_3
{
    display: flex;
    line-height: 86px;
}
.Header_full_3 div
{
    padding-left: 25px;
    font-size: 18px;
}
.Header_full_3 div a span
{
    color: rgb(113, 113, 108);
}
.Header_full_bottom_1_1
{
    width: 270px;
    height: 52.5px;
}
.Header_full_bottom_1_1 button
{
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 0 15px 0 15px;
    line-height: 53px;
    border: 0;
    border-radius: 8px 8px 0px 0px;
    margin-top:7px;
    width: 100%;
    background-color: white;
    height: 100%;
}
.Header_full_bottom_1_1 button span svg
{
    margin-right: 10px;
}
.Header_full_bottom_1_1 button span 
{
    font-weight: 700;
}
.Header_full_bottom_1_1 div svg
{
    font-size: 10px;
}
.Header_full_bottom_1_2
{
    width: 523px;
    height: 60px;
}
.Header_full_bottom_1_2 ul li{
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}
.Header_full_bottom_1_2 ul li span svg
{
    margin-left: 5px;
    font-size: 10px;
}
.Header_full_bottom_2
{
    margin: auto 0 auto auto;
}
.Header_full_bottom_2 button
{
    font-size: 13px;
    font-family: inherit;
    font-weight: 500;
    line-height: 40px;
    display: flex;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: space-between;
    height:40px ;
    color: white;
    background-color: black;
}
//Show home
.Header_full_bottom_show_home
{
    display: none;
    left: 433px;
    position: absolute;
    width: 220px;
    background-color: white;
    height: 96px;
    animation: infinite;
    animation: headernotifiled ease 0.35s;
    box-shadow: rgb(0 0 0 / 10%) 0px 13px 13px 13px;
    transform-origin: 20% top;
}
@keyframes headernotifiled
{
    from
    {
        opacity: 0;
        transform: scale(0);

    }
   to {
       opacity: 1;
       transform: scale(1);
   }
}
.Header_full_bottom_show_home div
{
    
    height: 100%;
    padding: 20px;
}
.Header_full_bottom_show_home div ul
{
    display: flex;
    flex-direction: column;
    padding: 0;
}
.Header_full_bottom_show_home div ul li
{
    line-height: 24px;
   height: 24px;
   display: list-item;
   font-size: 14px;
   box-sizing: border-box;
}
.Header_full_bottom_show_home div ul li a
{
    text-decoration: none;
    color: #737272;
    font-size: 14px;
    font-weight: 300;
    font-family: inherit;
}
.Header_full_bottom_show_home div ul li a:hover
{ color: 
    #ffbb38 ;
text-decoration: underline;}
.Header_full_bottom_show_home div ul li:last-child
{
    margin-top: 10px;
}
.Header_show_control1:hover .Header_full_bottom_show_home
{
    display: block;
    
}
//show page
.Header_full_bottom_show_page
{
    display: none;
    left: 660px;
    position: absolute;
    width: 220px;
    background-color: white;
    height: 210px;
    animation: infinite;
    animation: headernotifiled ease 0.35s;
    box-shadow: rgb(0 0 0 / 10%) 0px 13px 13px 13px;
    transform-origin: 20% top;
}
.Header_full_bottom_show_page div
{
    
    height: 100%;
    padding: 20px;
}
.Header_full_bottom_show_page div ul
{
    display: flex;
    flex-direction: column;
    padding: 0;
}
.Header_full_bottom_show_page div ul li
{
    line-height: 24px;
   height: 24px;
   display: list-item;
   font-size: 14px;
   box-sizing: border-box;
}
.Header_full_bottom_show_page div ul li a
{
    text-decoration: none;
    color: #737272;
    font-size: 14px;
    font-weight: 300;
    font-family: inherit;
}
.Header_full_bottom_show_page div ul li a:hover
{ color: 
    #ffbb38 ;
text-decoration: underline;}
.Header_full_bottom_show_page div ul li
{
    margin-top: 10px;
}
.Header_show_control2:hover .Header_full_bottom_show_page
{
    display: block;
    
}
//show shop
.Header_full_bottom_show_shop
{
    
    animation: infinite;
    animation: headernotifiled ease 0.3s;
    box-shadow: rgb(0 0 0 / 10%) 0px 13px 13px 13px;
    transform-origin: 35% top;
    background-color: #fcfbfb;
    position: absolute;
    height: 294px;
    padding: 30px;
    left: 176px;
    width: 1168px;
    display: none;
    
}
.Header_full_bottom_show_shop_main
{
    justify-content: space-around;
   
    display: flex;
}
.Header_full_bottom_show_shop_1 ul
{
    display: block;
    padding: 0;
}
.Header_full_bottom_show_shop_1 ul li a
{
    font-size: 12px;
    text-decoration: none;
    color: #737272;
}
.Header_full_bottom_show_shop_1 ul li a:hover
{
    text-decoration: underline;
    color: #ffbb38;
}
.Header_full_bottom_show_shop_1 ul li
{
    margin-top: 8px;
    height: 32px;
    line-height: 32px;
    
}
.Header_full_bottom_show_shop_main_h1 h1
{
    font-size: 13px;

}
.Header_full_bottom_show_shop_main_h1
{
    height: 40px;
}
.Header_full_bottom_show_shop_main_block
{
    width: 190px;
}
.Header_show_control3:hover .Header_full_bottom_show_shop
{
    display: block;
}
//////menu

.Header_full_bottom_menu
{
    position: absolute;
    width: 270px;
    height: 900px;
    
}

.Header_full_bottom_menu ul li
{
   
    
    list-style: none;
    height: 40px;
    padding:0 15px 0 15px;
    width: 100%;
    line-height: 40px;
    
    background-color: white;
}
.Header_full_bottom_menu ul li:hover
{
    transition: all 0.5s;
    background-color: #ffbb38;
    
}
.Header_full_bottom_menu ul li a
{
    color: black;
    font-size: 12px;
    text-decoration: none;
}
.Header_full_bottom_menu ul li a div
{
    justify-content: space-between;
    display: flex;
}
.Header_full_bottom_menu ul li a div div:first-child span svg
{
    font-size: 14px;
    color: #3f3f3f;
}
.Header_full_bottom_menu ul li a div div:first-child span:last-child
{
    margin-left: 24px;
}
.Header_full_bottom_menu.state ul li
{
    background: #dba440;
    
}





